.App {
  text-align: center;
}

.btn {
  padding: 0.5rem;
  border-radius: 2px;
  margin: 1rem;
  border: 1px black;
  background-color: skyblue;
}

hr {
  width: 95%;
}

li {
  list-style: none;
  border: 1px solid;
  border-radius: 5px;
  text-align: left;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  width: 80%;
  text-align: center;
}